+include-style('product-connected-sliders')
+include-script('product-connected-sliders')
+fancy-box()

+b.product-connected-sliders.product-connected-sliders--horiz
	+e.__order
		a(href="#").btn.btn--primary
			span Заказать дизайн-проект
	+swiper-with-nav({
		main: {
			wrapper_mod: '',
			container_mod: '',
			pagination_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination: false,
			navigation: true,
		},
		nav: {
			wrapper_mod: '',
			container_mod: '',
			pagination_mod: '',
			arrow_prev_mod: '',
			arrow_next_mod: '',
			pagination: false,
			navigation: true,
			centeredSlides: true,
			spaceBetween: 5,
			list: [
				{
					img: 'images/pp-img1-sm-coll-v1.jpg',
					img_placeholder: 'pp-img1-sm-coll.jpg',
				},{
					img: 'images/pp-img2-sm-coll-v1.jpg',
					img_placeholder: pixel,
				},{
					img: 'images/pp-img3-sm-coll-v1.jpg',
					img_placeholder: pixel,
				},{
					img: 'images/pp-img4-sm-coll-v1.jpg',
					img_placeholder: pixel,
				},{
					img: 'images/pp-img5-sm-coll-v1.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img1-sm-coll-v1.jpg',
					img_placeholder: 'pp-img1-sm-coll-v1.jpg',
				}, {
					img: 'images/pp-img2-sm-coll-v1.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img3-sm-coll-v1.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img4-sm-coll-v1.jpg',
					img_placeholder: pixel,
				}, {
					img: 'images/pp-img5-sm-coll-v1.jpg',
					img_placeholder: pixel,
				},
			],
			img_mod: 'swiper-thumbnail-img',
			wrap_mod: 'swiper-thumbnail'
		},
	}).js-product-connected-sliders--horiz
		//- Слайды главного слайда
		.swiper-slide
			.mobile-tooltips-popup-btn.js-open-tooltips(data-index="0" data-img="images/pp-img1-coll-v1.jpg")
				span.text Посмотреть товары на фото
				span.wr
					+icon('i-close')
			.tooltip-list
				mixin tl_item(args={})
					.tl-item(data-item-no=args.data_item style=args.style)
						.num=args.num
						.tl-item__body
							img(src=args.img alt=args.title).img
							.title=args.title
							.price=args.price
				+tl_item({
					data_item: 'sl-el-1',
					style: 'left:46%; top:60%',
					num: 1,
					img: 'images/tl-img.jpg',
					title: 'Стол рабочий руководителя Onix Direct O.MO-SRR',
					price: '14628 руб.'
				})
				+tl_item({
					data_item: 'sl-el-2',
					style: 'left:30%; top:60%',
					num: 2,
					img: 'images/tl-img.jpg',
					title: 'Брифинг-приставка Onix O.MO-BR-11 Дуб Аттик/Металл белый',
					price: '7811 руб.'
				})
				+tl_item({
					data_item: 'sl-el-3',
					style: 'left:35%; top:65%',
					num: 3,
					img: 'images/tl-img.jpg',
					title: 'Царга стола руководителя Onix Direct O.M-CSR-6 Дуб Аттик/белый/Металл белый',
					price: '2968 руб.'
				})
				+tl_item({
					data_item: 'sl-el-4',
					style: 'left:48%; top:53%',
					num: 4,
					img: 'images/tl-img.jpg',
					title: 'Тумба сервисная с ящиками TIP-ON Onix Direct O.TS-11 TIP Дуб Аттик',
					price: '11217 руб.'
				})
				+tl_item({
					data_item: 'sl-el-5',
					style: 'left:59%; top:28%',
					num: 5,
					img: 'images/tl-img.jpg',
					title: 'Шкаф высокий широкий Onix O.ST-1.10R Дуб Аттик',
					price: '31102 руб.'
				})
				+tl_item({
					data_item: 'sl-el-6',
					style: 'left:69%; top:27%',
					num: 6,
					img: 'images/tl-img.jpg',
					title: 'Офисное кресло Chairman CH-250 White',
					price: '4 780 руб.'
				})
				+tl_item({
					data_item: 'sl-el-7',
					style: 'left:59%; top:48%',
					num: 7,
					img: 'images/tl-img.jpg',
					title: 'Шкаф высокий широкий Onix O.ST-1.10R Дуб Аттик',
					price: '31102 руб.'
				})
				+tl_item({
					data_item: 'sl-el-8',
					style: 'left:9%; top:55%',
					num: 8,
					img: 'images/tl-img.jpg',
					title: 'Офисное кресло Chairman CH-250 White',
					price: '4 780 руб.'
				})
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll-v1.jpg',
				placeholder: 'pp-img1-coll-v1.jpg',
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll-v1.jpg')
		.swiper-slide
			.mobile-tooltips-popup-btn.js-open-tooltips(data-index="1" data-img="images/pp-img1-coll-v1_1.jpg")
				span.text Посмотреть товары на фото
				span.wr
					+icon('i-close')
			.tooltip-list
				+tl_item({
					data_item: 'sl-el-1',
					style: 'left:46%; top:60%',
					num: 1,
					img: 'images/tl-img.jpg',
					title: '1 Стол рабочий руководителя Onix Direct O.MO-SRR',
					price: '14628 руб.'
				})
				+tl_item({
					data_item: 'sl-el-2',
					style: 'left:30%; top:60%',
					num: 2,
					img: 'images/tl-img.jpg',
					title: '1 Брифинг-приставка Onix O.MO-BR-11 Дуб Аттик/Металл белый',
					price: '7811 руб.'
				})
				+tl_item({
					data_item: 'sl-el-3',
					style: 'left:35%; top:65%',
					num: 3,
					img: 'images/tl-img.jpg',
					title: '1 Царга стола руководителя Onix Direct O.M-CSR-6 Дуб Аттик/белый/Металл белый',
					price: '2968 руб.'
				})
				+tl_item({
					data_item: 'sl-el-4',
					style: 'left:48%; top:53%',
					num: 4,
					img: 'images/tl-img.jpg',
					title: '1 Тумба сервисная с ящиками TIP-ON Onix Direct O.TS-11 TIP Дуб Аттик',
					price: '11217 руб.'
				})
				+tl_item({
					data_item: 'sl-el-5',
					style: 'left:59%; top:28%',
					num: 5,
					img: 'images/tl-img.jpg',
					title: '1 Шкаф высокий широкий Onix O.ST-1.10R Дуб Аттик',
					price: '31102 руб.'
				})
				+tl_item({
					data_item: 'sl-el-6',
					style: 'left:69%; top:27%',
					num: 6,
					img: 'images/tl-img.jpg',
					title: '1 Офисное кресло Chairman CH-250 White',
					price: '4 780 руб.'
				})
				+tl_item({
					data_item: 'sl-el-7',
					style: 'left:59%; top:48%',
					num: 7,
					img: 'images/tl-img.jpg',
					title: '1 Шкаф высокий широкий Onix O.ST-1.10R Дуб Аттик',
					price: '31102 руб.'
				})
				+tl_item({
					data_item: 'sl-el-8',
					style: 'left:9%; top:55%',
					num: 8,
					img: 'images/tl-img.jpg',
					title: '1 Офисное кресло Chairman CH-250 White',
					price: '4 780 руб.'
				})
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll-v1_1.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll-v1.jpg')
		.swiper-slide
			.mobile-tooltips-popup-btn.js-open-tooltips(data-index="2" data-img="images/pp-img1-coll-v1_2.jpg")
				span.text Посмотреть товары на фото
				span.wr
					+icon('i-close')
			.tooltip-list
				+tl_item({
					data_item: 'sl-el-1',
					style: 'left:46%; top:60%',
					num: 1,
					img: 'images/tl-img.jpg',
					title: '2 Стол рабочий руководителя Onix Direct O.MO-SRR',
					price: '14628 руб.'
				})
				+tl_item({
					data_item: 'sl-el-2',
					style: 'left:30%; top:60%',
					num: 2,
					img: 'images/tl-img.jpg',
					title: '2 Брифинг-приставка Onix O.MO-BR-11 Дуб Аттик/Металл белый',
					price: '7811 руб.'
				})
				+tl_item({
					data_item: 'sl-el-3',
					style: 'left:35%; top:65%',
					num: 3,
					img: 'images/tl-img.jpg',
					title: '2 Царга стола руководителя Onix Direct O.M-CSR-6 Дуб Аттик/белый/Металл белый',
					price: '2968 руб.'
				})
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll-v1_2.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll-v1.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll-v1.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll-v1.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll-v1.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll-v1.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll-v1.jpg',
				placeholder: 'pp-img1-coll-v1.jpg',
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll-v1.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll-v1.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll-v1.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll-v1.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll-v1.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll-v1.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll-v1.jpg')
		.swiper-slide
			+lazy-img-slider({
				link: true,
				img: 'images/pp-img1-coll-v1.jpg',
				placeholder: pixel,
				img_mod: 'swiper-main__img',
				wrap_mod: 'swiper-main__img-wrap'
			})(data-fancybox="gallery" href='/local/templates/html/images/pp-img1-coll-v1.jpg')

