mixin color_block(args={})
    .color-block&attributes(attributes)
        .color-block__title=args.title
            if(args.price)
                .color-block__price=args.price
        if(args.text)
            .color-block__text=args.text
        .color-block__list
            block

mixin color(args={})
    +include-script('color')
    +include-style('color')
    if(args.no_link)
        .color
            span.color__bg(style=args.bg)
                if(args.badge)
                    span.color__badge=args.badge
            span.color__name=args.name
    else
        if(args.active)
            a(href="javascript:;").color.active
                span.color__bg(style=args.bg)
                    if(args.badge)
                        span.color__badge=args.badge
                span.color__name=args.name
        else
            a(href="javascript:;").color
                span.color__bg(style=args.bg)
                    if(args.badge)
                        span.color__badge=args.badge
                span.color__name=args.name