+include-style('pp-main')
+include-script('pp-main')

.pp-main
    .container
        h1.h1.page-title Кабинет руководителя ONIX WOOD DIRECT
            span id 423456
        .row
            .pp-main__left.pp-main__left--collection
                .pp-main__top
                    .pp-main__badges
                        span.pbadge.pbadge--primary Распродажа
                        span.pbadge Рандомный
                        span.pbadge.pbadge--primary Хит
                    .pp-main__rating
                        +rating({
                            data_count: 4,
                            count: 4.2,
                            comments: 'Отзывов 33',
                            scrollTo: true
                        })
                include ../product-connected-sliders/product-connected-sliders--coll-v1
            .pp-main__options-box.pp-main__options-box--collection
                +tabs({
                    titles_list: ['Мебель на фото', 'Описание и характеристики'],
                })
                    .tabs__block.active
                        //контейнер эл-в слайда 0
                        .ob.active(data-slide-tab="0")
                            .ob__close.js-close-tooltips
                                +icon('i-close')
                            .ob__mobile-img
                            .ob__ph-items-list
                                mixin ph_item(args={})
                                    .ob__ph-item(data-item-no=args.data_item)
                                        .num=args.num
                                        .title=args.title
                                        +counter({
                                            max_value: 5,
                                            min_value: 1,
                                            baseStep: 1,
                                            step: 1,
                                            value: 1,
                                        })
                                        .total-price=args.price
                                +ph_item({
                                    data_item: 'sl-el-1',
                                    num: 1,
                                    title: 'Стол рабочий руководителя Onix Direct O.MO-SRR',
                                    price: '14628 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-2',
                                    num: 2,
                                    title: 'Брифинг-приставка Onix O.MO-BR-11 Дуб Аттик/Металл белый',
                                    price: '7811 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-3',
                                    num: 3,
                                    title: 'Царга стола руководителя Onix Direct O.M-CSR-6 Дуб Аттик/белый/Металл белый',
                                    price: '2968 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-4',
                                    num: 4,
                                    title: 'Тумба сервисная с ящиками TIP-ON Onix Direct O.TS-11 TIP Дуб Аттик',
                                    price: '11217 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-5',
                                    num: 5,
                                    title: 'Шкаф высокий широкий Onix O.ST-1.10R Дуб Аттик',
                                    price: '31102 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-6',
                                    num: 6,
                                    title: 'Офисное кресло Chairman CH-250 White',
                                    price: '4 780 руб.'
                                })
                                .ob__collapse
                                    +ph_item({
                                        data_item: 'sl-el-7',
                                        num: 7,
                                        title: 'Офисное кресло Chairman CH-250 White 7',
                                        price: '4 780 руб.'
                                    })
                                    +ph_item({
                                        data_item: 'sl-el-8',
                                        num: 8,
                                        title: 'Офисное кресло Chairman CH-250 White 8',
                                        price: '4 780 руб.'
                                    })
                                .ob__link.more
                                    a(href="javascript:;").link--down
                                        span.text Показать все
                                        span.down
                                            +icon('i-arr-down')
                                .ob__link.less
                                    a(href="javascript:;").link--down
                                        span.text Скрыть
                                        span.down
                                            +icon('i-arr-down')

                            .ob__mobile-total-box.mtb
                                .mtb__title Сумма:
                                .mtb__total 67 726 руб.
                                .mtb__btn
                                    a(href="#").btn.btn--primary.btn--icon
                                        span В корзину
                                        +icon('i-cart')
                        //контейнер эл-в слайда 1
                        .ob(data-slide-tab="1")
                            .ob__close.js-close-tooltips
                                +icon('i-close')
                            .ob__mobile-img
                            .ob__ph-items-list
                                +ph_item({
                                    data_item: 'sl-el-1',
                                    num: 1,
                                    title: '1 Стол рабочий руководителя Onix Direct O.MO-SRR',
                                    price: '14628 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-2',
                                    num: 2,
                                    title: '1 Брифинг-приставка Onix O.MO-BR-11 Дуб Аттик/Металл белый',
                                    price: '7811 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-3',
                                    num: 3,
                                    title: '1 Царга стола руководителя Onix Direct O.M-CSR-6 Дуб Аттик/белый/Металл белый',
                                    price: '2968 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-4',
                                    num: 4,
                                    title: '1 Тумба сервисная с ящиками TIP-ON Onix Direct O.TS-11 TIP Дуб Аттик',
                                    price: '11217 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-5',
                                    num: 5,
                                    title: '1 Шкаф высокий широкий Onix O.ST-1.10R Дуб Аттик',
                                    price: '31102 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-6',
                                    num: 6,
                                    title: '1 Офисное кресло Chairman CH-250 White',
                                    price: '4 780 руб.'
                                })
                                .ob__collapse
                                    +ph_item({
                                        data_item: 'sl-el-7',
                                        num: 7,
                                        title: '1 Офисное кресло Chairman CH-250 White 7',
                                        price: '4 780 руб.'
                                    })
                                    +ph_item({
                                        data_item: 'sl-el-8',
                                        num: 8,
                                        title: '1 Офисное кресло Chairman CH-250 White 8',
                                        price: '4 780 руб.'
                                    })
                                .ob__link.more
                                    a(href="javascript:;").link--down
                                        span.text Показать все
                                        span.down
                                            +icon('i-arr-down')
                                .ob__link.less
                                    a(href="javascript:;").link--down
                                        span.text Скрыть
                                        span.down
                                            +icon('i-arr-down')
                            .ob__mobile-total-box.mtb
                                .mtb__title Сумма:
                                .mtb__total 67 726 руб.
                                .mtb__btn
                                    a(href="#").btn.btn--primary.btn--icon
                                        span В корзину
                                        +icon('i-cart')
                        //контейнер эл-в слайда 2
                        .ob(data-slide-tab="2")
                            .ob__close.js-close-tooltips
                                +icon('i-close')
                            .ob__mobile-img
                            .ob__ph-items-list
                                +ph_item({
                                    data_item: 'sl-el-1',
                                    num: 1,
                                    title: '2 Стол рабочий руководителя Onix Direct O.MO-SRR',
                                    price: '14628 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-2',
                                    num: 2,
                                    title: '2 Брифинг-приставка Onix O.MO-BR-11 Дуб Аттик/Металл белый',
                                    price: '7811 руб.'
                                })
                                +ph_item({
                                    data_item: 'sl-el-3',
                                    num: 3,
                                    title: '2 Царга стола руководителя Onix Direct O.M-CSR-6 Дуб Аттик/белый/Металл белый',
                                    price: '2968 руб.'
                                })
                            .ob__mobile-total-box.mtb
                                .mtb__title Сумма:
                                .mtb__total 67 726 руб.
                                .mtb__btn
                                    a(href="#").btn.btn--primary.btn--icon
                                        span В корзину
                                        +icon('i-cart')

                        //контейнер эл-в слайда 3
                        .ob(data-slide-tab="3")
                        //контейнер эл-в слайда 4
                        .ob(data-slide-tab="4")
                        //контейнер эл-в слайда 5
                        .ob(data-slide-tab="5")
                        //контейнер эл-в слайда 6
                        .ob(data-slide-tab="6")
                        //контейнер эл-в слайда 7
                        .ob(data-slide-tab="7")
                        //контейнер эл-в слайда 8
                        .ob(data-slide-tab="8")
                        //контейнер эл-в слайда 9
                        .ob(data-slide-tab="9")
                        .ob
                            .ob__title Возможные цвета (16):
                            ul.ob__list.js-colors-list
                                li.ob__item
                                    +color({
                                        bg: 'background-color:#E4ADAD',
                                        badge: '-25%',
                                        name: 'Шелк розовый',
                                    })
                                li.ob__item
                                    +color({
                                        bg: 'background-color:#ECD893',
                                        badge: '-5%',
                                        name: 'Шелк розовый',
                                    })
                                li.ob__item
                                    +color({
                                        bg: 'background-color:#E8B05B',
                                        badge: false,
                                        name: 'Шелк розовый',
                                    })
                                li.ob__item
                                    +color({
                                        bg: 'background-color:#E79B55',
                                        badge: false,
                                        name: 'Шелк розовый',
                                        active: true
                                    })
                                li.ob__item
                                    +color({
                                        bg: 'background-color:#BC691D',
                                        badge: false,
                                        name: 'Шелк розовый',
                                    })
                                li.ob__item
                                    +color({
                                        bg: 'background-color:#ADDEE4',
                                        badge: false,
                                        name: 'Шелк розовый',
                                    })
                            .ob__link
                                a.link--down.js-scroll-to(href="#" data-to="js-colors-block")
                                    span.text Показать все цвета и материалы
                                    span.down
                                        +icon('i-arr-down')
                    .tabs__block
                        .ob
                            .ob__text «SKYLAND» существует с 2002 года, и на текущий момент уверенно входит в десятку лидеров рынка. Это не просто количественные показатели — это доверие сотен партнеров и десятков тысяч корпоративных и частных клиентов. «SKYLAND» существует с 2002 года, и на текущий момент уверенно входит в десятку лидеров рынка. Это не просто количественные показатели — это доверие сотен партнеров и десятков тысяч корпоративных и частных клиентов.
                        .ob
                            .ob__title Характеристики
                            .ob__block
                                span.dt Материал серии:
                                span.dd Пластик
                                span.dt Срок доставки:
                                span.dd 3-5 дней
                                span.dt Бренд серии:
                                span.dd Sky
                                span.dt Страна производитель:
                                span.dd Россия
                                span.dt Толщина столешницы:
                                span.dd 5 см
                                span.dt Основной материал:
                                span.dd Экокожа
                            .ob__link
                                a.link--down.js-scroll-to(data-to="js-options-block")
                                    span.text Показать все
                                    span.down
                                        +icon('i-arr-down')

            .pp-main__right
                .pp-main__status.pstatus.pstatus--wait Ожидается через 20 дней
                .pp-main__buy-box
                    .b-box
                        .b-box__old
                            span.old 200 000 р.
                            span.discount -25%
                        .b-box__current 5 200 000 ₽
                        .b-box__counter
                            +counter({
                                max_value: 50,
                                min_value: 1,
                                baseStep: 1,
                                step: 1,
                                value: 22,
                            })
                        .b-box__buy
                            a(href="#").btn.btn--primary.btn--icon
                                span В корзину
                                +icon('i-cart')
                            a(
                                href="#one-click-buy",
                                data-toggle='modal',
                                data-target="#one-click-buy"
                                data-overflow-click='true',
                                data-overflow-fade='true'
                                aria-label='Быстрая покупка').btn.btn--outline Быстрая покупка
                        .b-box__q
                            a(href="#").link Условия доставки
                            img(src="images/contact-form2.jpg" alt="img").b-box__q-img
                            .b-box__q-title Возникли вопросы?
                            a(href="tel:+74996488477").b-box__q-link +7(499) 648-84-77
                            a(href="mailto:info@mavikom.ru").b-box__q-link info@mavikom.ru
