.pp-tab-comments
    .row
        .col-md-6
            .pp-tab-comments__list
                mixin pp-comment(args={})
                    .pp-comment
                        .pp-comment__top
                            .pp-comment__name=args.name
                            .pp-comment__date=args.date
                            .pp-comment__rating
                                +rating({
                                    data_count: 4
                                })
                        .pp-comment__content
                            block
                        if(args.more)
                            .pp-comment__like
                                p.title Достоинства
                                p Удобный, простой, прочный.
                            .pp-comment__dislike
                                p.title Недостатки
                                p Мог бы быть подешевле рублей на 400. 1200р самая цена для такого стола. Болты довольно тяжело входят. Ключ нужно иметь свой.
                        if(args.answer)
                            .pp-comment__answer
                                .pp-comment__answer-top
                                    +lazy-img({
                                        img: 'images/logo.svg',
                                        placeholder: pixel,
                                        img_mod: 'pp-comment__answer-img',
                                        wrap_mod: 'pp-comment__answer-img-wrap',
                                        link: false,
                                        aria_label: false,
                                    })
                                    .pp-comment__answer-name Екатерина Екатериновна. Менеджер по работе с клиентами
                                .pp-comment__answer-content
                                    p Здравствуйте, Александр!
                                    p Благодарим вас за отзыв. Мы рады, что вы остались довольны приобретением. Мы обязательно передадим ваши комментарии по поводу недостатков стола производителю.
                                    p Всего доброго!
                +pp-comment({
                    name: 'Александр Александрович',
                    date: '09.04.2020',
                    more: true,
                    answer: true
                })
                    p Первое, что хочу сказать - стол крепкий и тяжелый, удивительно, что цена всего 1600, ощущается довольно качественно за такую цену. Но, люди, сразу предупреждаю, болты, которыми крепятся
                    p ножки - шестигранники 13, имейте спец отвертку или ключ. Кому нужен стол на кухню,чтобы не загромождал пространство - самое то.
                +pp-comment({
                    name: 'Валентин Валентинович',
                    date: '09.04.2020',
                    more: false,
                    answer: false
                })
                    p Очень понравился стол в цвете шимо темный, прямо стиль. Купили себе, теперь купим такой же родителям, классно смотрится в комплекте с табуретками. Быстро привезли.
                +pp-comment({
                    name: 'Елена Станиславовна',
                    date: '09.04.2020',
                    more: false,
                    answer: false
                })
                    p Внешне смотрится довольно симпатично. Только он какой-то не устойчивый. С доставкой проблем не возникло, все в оговоренные сроки. Упаковано было хорошо, при транспортировке ничего не повредилось.
            .pp-tab-comments__more
                a(href="#").btn.btn--primary
                    span Показать все отзывы
        .col-md-6
            .prod-rat
                +rating({
                    data_count: 4,
                    count: 4.75,
                })
                .prod-rat__text Рейтинг на основе 132 отзывов
                .prod-rat__list
                    .prod-rat__item
                        span.js-circle(data-percent="83%")
                        span.text 5
                    .prod-rat__item
                        span.js-circle(data-percent="68%")
                        span.text 4
                    .prod-rat__item
                        span.js-circle(data-percent="22%")
                        span.text 3
                    .prod-rat__item
                        span.js-circle(data-percent="5%")
                        span.text 2
                    .prod-rat__item
                        span.js-circle(data-percent="0%")
                        span.text 1
                .prod-rat__btn
                    a(
                        href="#modal-review",
                        data-toggle='modal',
                        data-target="#modal-review"
                        data-overflow-click='true',
                        data-overflow-fade='true'
                        aria-label='Оставить отзыв').btn.btn--primary
                        span Оставить отзыв