mixin link-arrow(args = {})
	+include-style('link-arrow')
	.link-arrow(class=args.class_mod)
		if args.toggle_target
			span.link-arrow__link.js-btn-toggle(
				aria-label=`${args.title}`,
				data-target=args.toggle_target,
				data-overflow-click='true',
				data-body-overflow="true"
				data-overflow-fade='true')
				span=args.title
				+icon('i-link-arrow')(style='width:34px; height:22px')
		else
			a.link-arrow__link(href=args.href ||'#' aria-label=`${args.title}`)
				span=args.title
				+icon('i-link-arrow')(style='width:34px; height:22px')
				

