+modal({
	id: 'one-click-buy',
	mod: 'one-click-buy',
	title: 'Покупка в 1 клик',
	header: true,
	dialog_mod: ''
})

	form.bv-form.js_lazy-load-validation(
	enctype='multipart/form-data',
	method='POST',
	action='#',
	autocomplete='on',
	novalidate='novalidate'
	)
		.ocb-item
			img.ocb-item__img(src="images/pp-img2-sm-v2.jpg" alt="img")
			.ocb-item__title Диван офисный Изумрудное Облачко 2
			.ocb-item__sku Артикул: 34234512
			.ocb-item__price-box
				.ocb-item__price 2 200 000 ₽
				.ocb-item__old-price 250 000 р.
				.ocb-item__discount
					.sale -25%
		+input({
			label: 'ФИО',
			type: 'text',
			name: false,
			small: false,
			placeholder: 'Александр',
			required: true,
			validation: {
				message: 'Обязательное поле',
				regexp: 'Неверный формат',
				emailaddress: ' ',
				identical: false
			}
		})
		+input({
			label: 'Ваш телефон',
			type: 'tel',
			name: false,
			small: false,
			placeholder: '+7 (___) ___-__-__',
			required: true,
			pattern: 'phone',
			validation: {
				message: 'Обязательное поле',
				regexp: 'Неверный формат',
				emailaddress: ' ',
				identical: false
			}
		})
		+textarea({
			label: 'Комментарий к заказу (необязательно)',
			required: false,
			small: false,
			placeholder: false,
		})
		+checkbox({
			wrap_mod: '',
			require: '',
			input_mod: '',
			checked: true,
			label_mod: '',
			label: 'Я согласен на обработку персональных данных'
		})
		button.btn.btn--primary(type='submit')
			span Оформить заказ