mixin product-item(args={})
    +include-style('product-item')
    +include-script('product-item')
    if(args.ajax_plug)
        .product-item(class=args.mod_class)
            a.product-item__ajax-plug(href="#")=args.title
    else
        .product-item(class=args.mod_class)
            .product-item__inner
                .product-item__top
                    .product-item__badges
                        each badge in args.badges_list
                            span.pbadge(class=badge.class)=badge.name
                    .product-item__status
                        .pstatus(class=args.status.class)=args.status.name
                a(href="#").product-item__carousel.js-product-carousel
                    .product-item__carousel_container
                        //- набор 0
                        .product-item__carousel-items.active
                            - var n = 0;
                            each item in args.imgs_list
                                if(n === 0)
                                    if(args.mod_class === 'product-item--single')
                                        +lazy-img({
                                            img: item.img,
                                            placeholder: pixel,
                                            img_mod: '',
                                            wrap_mod: 'product-item__img-carousel active',
                                            link: false,
                                            aria_label: false,
                                        })
                                    else
                                        +lazy-img-slider({
                                            img: item.img,
                                            placeholder: pixel,
                                            img_mod: '',
                                            wrap_mod: 'product-item__img-carousel active',
                                            link: false,
                                            aria_label: false,
                                        })
                                    - n++
                                else
                                    if(args.mod_class === 'product-item--single')
                                        +lazy-img({
                                            img: item.img,
                                            placeholder: pixel,
                                            img_mod: '',
                                            wrap_mod: 'product-item__img-carousel',
                                            link: false,
                                            aria_label: false,
                                        })
                                    else
                                        +lazy-img-slider({
                                            img: item.img,
                                            placeholder: pixel,
                                            img_mod: '',
                                            wrap_mod: 'product-item__img-carousel',
                                            link: false,
                                            aria_label: false,
                                        })
                                    - n++
                            .product-item__carousel_controls
                                each item in args.imgs_list
                                    .product-item__carousel_control
                        //- набор 1
                        .product-item__carousel-items
                        //- набор 2
                        .product-item__carousel-items
                        //- набор 3
                        .product-item__carousel-items
                .product-item__colors
                    - var c = 0;
                    if(args.colors_list)
                        each item in args.colors_list
                            if(c === 0)
                                a.color.active(href="javascript:;" style="background-color:"+item.color)
                            else
                                a.color(href="javascript:;" data-imgs=item.imgs_list style="background-color:"+item.color)
                            - c++
                    if(args.colors_list)
                        a(href="#").more + 45
                if(!args.collection)
                    .product-item__size=args.size
                a(href="#").product-item__title=args.title
                .product-item__middle
                    .product-item__price-old
                        if(args.price_old)
                            span.old=args.price_old
                            span.sale=args.price_sale
                    .product-item__middle-box
                        .product-item__price-current
                            if(args.collection)
                                span.sm От&ensp;
                            span.price=args.price
                            span.post ₽
                            if(args.collection)
                                span.sm &ensp;за тумбочку
                        .product-item__actions
                            if(args.in_cart && !args.collection)
                                .product-item__action
                                    +icon('i-cart')
                                    .count=args.in_cart
                            a(href="#").product-item__action
                                +icon('i-like')(style="width: 25px; height: 20px")
                .product-item__bottom
                    if(args.collection)
                        .product-item__more
                            a(href="#").btn.btn--primary.btn--icon
                                span Подробнее
                                +icon('i-arr-r')
                    else
                        .product-item__counter
                            +counter({
                                max_value: 50,
                                min_value: 1,
                                baseStep: 1,
                                step: 1,
                                value: 22,
                            })
                        .product-item__buy
                            a(href="#").btn.btn--primary.btn--icon
                                span В корзину
                                +icon('i-cart')