mixin product-card2(args={})
	-
		let num = Math.round(Math.random()* (3 - 1) + 1)
	+include-style('mixin__product-card2')
	.product-card(class=args.mod class=args.slider)
		a(href="#").product-card__img
			if (args.slider)
				+lazy-img-slider({
					img: `images/product-card-${num}.jpg`,
					placeholder: pixel
				})
			else
				+lazy-img({
					img: `images/product-card-${num}.jpg`,
					placeholder: pixel
				})
		.product-card__code Артикул: Brd3HL
		a(href="#").product-card__title= args.title
		table.product-card__sku
			tr.product-card__sku-item
				td.product-card__sku-property Размер
				td.product-card__sku-value 1250x710x810
			tr.product-card__sku-item
				td.product-card__sku-property Обивка
				td.product-card__sku-value Attika
			tr.product-card__sku-item
				td.product-card__sku-property Цвет
				td.product-card__sku-value бежевый
					.product-card__sku-value-color
			tr.product-card__sku-item
				td.product-card__sku-property Свободно
				td.product-card__sku-value 20 шт.
			tr.product-card__sku-item
				td.product-card__sku-property В резерве
				td.product-card__sku-value 20 шт.
		.product-card__price= args.price
		if (args.mod === 'product-card--buy')
			.product-card__order
				.product-card__counter
					+counter-order({
						title: "Купить"
					})
			//- 		+counter({
			//- 			max_value: 10,
			//- min_value: 1,
			//- baseStep: 1,
			//- step: 1
			//- 	})
			//- 	.btn.btn--primary.product-card__buy 
			//- 		span.product-card__buy-title Купить
			//- 		+icon('i-add-to-cart')(style="width: 24px; height: 24px")
		else
			.product-card__order
				.btn.btn--primary.product-card__choose Выбрать обивку