+include-style('modal')
+include-script('modal')
.modal.fade(
	id = 'modal-reset-password', 
	class= 'modal-reset-password' tabindex='-1', 
	aria-modal= 'true',
	aria-hidden='true',
	)
	.modal-dialog.modal-dialog-centered(class= '' role='document')
		.modal-content
			button.modal-close(type="button" data-dismiss="modal" aria-label="Close")
				+icon('i-close')(style='width: 26px; height: 26px;')
			.modal-body
				.modal-body__title Забыли пароль?
				.modal-body__descr Укажите адрес электронной почты, который вы использовали при регистрации 
				form.active.bv-form.js_lazy-load-validation(
					enctype='multipart/form-data',
					method='POST',
					action='#',
					autocomplete='on',
					novalidate='novalidate'
					)
					.modal-login__form
						+input({
							label: 'Электронная почта',
							type: 'email',
							name: false,
							small: false,
							placeholder: 'example@example.com',
							required: true,
							pattern: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}',
							validation: {
								message: 'Обязательное поле',
								regexp: 'Неверный формат',
								emailaddress: ' ',
								identical: false
							} 
						})
						button.btn.btn--primary(data-submit="true") Восстановить пароль
				span.remembered-password Вспомнил пароль